body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px
}

.flex-top {
  align-items: start;
}

.margin-top-1 {
  margin-top: 8px;
}

.margin-top-2 {
  margin-top: 16px;
}


.padding-1 {
  padding: 8px;
}

.padding-2 {
  padding: 16px;
}

.fg-dark-red {
  color: rgb(80, 9, 9)
}

.fg-dark-blue {
  color: rgb(1, 1, 59)
}

.bg-light-blue {
  background-color: rgb(214, 255, 252);
}

.bg-light-red {
  background-color: rgb(255, 158, 158);
}

.border-round {
  border-radius: 5px;
}

button {
  background-color: rgb(0, 153, 255);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 5px dotted rgb(100, 100, 100);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}